header {
    text-align: right;
}
h1 {
    font-size: large;
}
h3 {
    text-decoration: underline;
    font-family: cursive ;
    font-style:italic;
    font-weight: bold;
}
article {
    font-family: Snell Roundhand, cursive;
    font-weight: lighter;
    font-style: italic;
}
footer {
    font-weight: bold;
}